.App {
  display: flex;

  padding: 16px 24px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.texts {
  display: flex;

  min-width: 200px;
  max-width: 350px;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  gap: 1rem;
}

.headlineContent {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bodyContent {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  display: flex;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.activeDiv {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.active {
  background-color: lightblue;
  color: white;
}
.sliderContainer {
  position: absolute;
  bottom: -25px;
  left: 0;
  z-index: 10;
  width: 100%;
}
